/* .container-About {
    max-width: 100%;
    max-height: 100%;
    position: relative;
} */

.containerSkills {
    margin-left: 25%;
    margin-top: 15%;
    margin-right: 20%;
}

 .skill-box {
    background-color: #FEE715FF;
}
.skill-box h1{
    text-align: center;
}
.skill-box {
    text-align: center;
}
 .skill-flex{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
