.container-About {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.container-About .text-zone {
    position: relative;
    left: 23%;
    top: 5rem;
    width: 60%;
    max-height: 100%;
    min-width: 500px;
    text-align: center;
}

.text-Zone h2 {
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px;
    margin: 0 0 10px; 
    text-align: center;
}

.text-Zone p {
   font-size: 14px; 
   line-height: 24px;
   margin: 0 0 10px; 
   text-align: center; 
   text-justify: inter-word;
}

