@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
    font-family: 'Source Code Pro', monospace;
    color: #444;
    background: #101820FF;
    overflow: hidden;
    display:block;
}

.container {
    width: 100%;
    will-change: contents;
    height: 100%;
    min-height: 566px;
    position: absolute;
    margin-top: 0;
}