@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Luxurious+Roman&family=Press+Start+2P&family=Space+Mono&display=swap');
body {
    font-family: 'Barlow Condensed', sans-serif;
}


.container-About {
    margin-left: 22%;
}

.container-Awards {
    margin-left: 22%;
}

.container-Experience {
    margin-left: 22%;
}

.container-Interest {
    margin-left: 22%;
}

.container-Skills {
    margin-left: 22%;
}