.container-Interest h1{
    margin-left: 40%;
}


.icon-container {
    width: 20%;
    margin-left: 43%;
}

.icon{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.icon-container #gaming {
    background-color: yellow;   
}

.icon-container #code {
    background-color: yellow;   
}

.icon-container #book {
    background-color: yellow;   
}